/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
.alexandria {
  font-family: alexandria;
}

.container {
  background-color: white;
}

.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 2px #000000
}

.section-padding {
  padding: 10% 0%;
  background-color: white;
}

h2 {
  padding: 2% 3%;
}

.card-title {
  text-shadow: 2px 2px 2px #000000;
}

.modal {
  overflow-y:auto;
}